Organizations:
  - &OrdererOrg
    Name: OrdererMSP
    ID: OrdererMSP
    MSPDir: ../crypto-material/ordererOrganizations/orderer.audit.local/msp
    Policies:
      Readers:
        Type: Signature
        Rule: "OR('OrdererMSP.member')"
      Writers:
        Type: Signature
        Rule: "OR('OrdererMSP.member')"
      Admins:
        Type: Signature
        Rule: "OR('OrdererMSP.admin')"

  - &Org1
    Name: AuditGatewayMSP
    ID: AuditGatewayMSP
    MSPDir: ../crypto-material/peerOrganizations/org1.audit.local/msp
    Policies:
      Readers:
        Type: Signature
        Rule: "OR('AuditGatewayMSP.admin', 'AuditGatewayMSP.peer', 'AuditGatewayMSP.client')"
      Writers:
        Type: Signature
        Rule: "OR('AuditGatewayMSP.admin', 'AuditGatewayMSP.client')"
      Admins:
        Type: Signature
        Rule: "OR('AuditGatewayMSP.admin')"
      Endorsement:
        Type: Signature
        Rule: "OR('AuditGatewayMSP.peer')"
    AnchorPeers:
      - Host: peer0.org1.audit.local
        Port: 7051

  - &Org2
    Name: InspectorMSP
    ID: InspectorMSP
    MSPDir: ../crypto-material/peerOrganizations/org2.audit.local/msp
    Policies:
      Readers:
        Type: Signature
        Rule: "OR('InspectorMSP.admin', 'InspectorMSP.peer', 'InspectorMSP.client')"
      Writers:
        Type: Signature
        Rule: "OR('InspectorMSP.admin', 'InspectorMSP.client')"
      Admins:
        Type: Signature
        Rule: "OR('InspectorMSP.admin')"
      Endorsement:
        Type: Signature
        Rule: "OR('InspectorMSP.peer')"
    AnchorPeers:
      - Host: peer0.org2.audit.local
        Port: 9051

Capabilities:
  Channel: &ChannelCapabilities
    V2_0: true
  Orderer: &OrdererCapabilities
    V2_0: true
  Application: &ApplicationCapabilities
    V2_5: true

Application: &ApplicationDefaults
  Organizations:
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
  Capabilities:
    <<: *ApplicationCapabilities

Orderer: &OrdererDefaults
  OrdererType: etcdraft
  Addresses:
    - orderer0.orderer.audit.local:7050
  EtcdRaft:
    Consenters:
      - Host: orderer0.orderer.audit.local
        Port: 7050
        ClientTLSCert: ../crypto-material/ordererOrganizations/orderer.audit.local/orderers/orderer0.orderer.audit.local/tls/server.crt
        ServerTLSCert: ../crypto-material/ordererOrganizations/orderer.audit.local/orderers/orderer0.orderer.audit.local/tls/server.crt
  BatchTimeout: 2s
  BatchSize:
    MaxMessageCount: 10
    AbsoluteMaxBytes: 99 MB
    PreferredMaxBytes: 512 KB
  Organizations:
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"
  Capabilities:
    <<: *OrdererCapabilities

Channel: &ChannelDefaults
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
  Capabilities:
    <<: *ChannelCapabilities

Profiles:
  AuditGenesis:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
        - *OrdererOrg
    Consortiums:
      AuditConsortium:
        Organizations:
          - *Org1
          - *Org2

  AuditChannel:
    <<: *ChannelDefaults
    Consortium: AuditConsortium
    Application:
      <<: *ApplicationDefaults
      Organizations:
        - *Org1
        - *Org2
